.dimension { cursor: ns-resize; }
.category { cursor: ew-resize; }
.dimension tspan.name { font-size: 1.5em; fill: #333; font-weight: bold; }
.dimension tspan.sort { fill: #000; cursor: pointer; opacity: 0; }
.dimension tspan.sort:hover { fill: #333; }
.dimension:hover tspan.name { fill: #000; }
.dimension:hover tspan.sort { opacity: 1; }
.dimension line { stroke: #000; }
.dimension rect { stroke: none; fill-opacity: 0; }
.dimension > rect, .category-background { fill: #fff; }
.dimension > rect { display: none; }
.category:hover rect { fill-opacity: .3; }
.dimension:hover > rect { fill-opacity: .3; }
.ribbon path { stroke-opacity: 0; fill-opacity: .5; }
.ribbon path.active { fill-opacity: .9; }
.ribbon-mouse path { fill-opacity: 0; }

.category-0 { fill: #8dd3c7; stroke: #8dd3c7; }
.category-1 { fill: #ffffb3; stroke: #ffffb3; }
.category-2 { fill: #bebada; stroke: #bebada; }
.category-3 { fill: #fb8072; stroke: #fb8072; }
.category-4 { fill: #80b1d3; stroke: #80b1d3; }
.category-5 { fill: #fdb462; stroke: #fdb462; }
.category-6 { fill: #b3de69; stroke: #b3de69; }
.category-7 { fill: #fccde5; stroke: #fccde5; }
.category-8 { fill: #d9d9d9; stroke: #d9d9d9; }
.category-9 { fill: #bc80bd; stroke: #bc80bd; }

.tooltip {
  background-color: rgba(242, 242, 242, .6);
  position: absolute;
  padding: 5px;
}
