.editable:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.selected {
	stroke-width: 8px;
}

.header {
	font-family: sans-serif;
	font-size: 12px;
	fill: #707070;
	text-anchor: middle;
	font-weight: bold;
}

.border {
	stroke: #707070;
	opacity: 0.1;
	fill: none;
	stroke-width: 5;
}

.label {
	font-family: sans-serif;
	font-size: 12px;
	fill: #707070;
	opacity: 0.8;
	text-anchor: middle;
	font-weight: normal;
}

.fa {
	color: #707070;
}